body{
    margin: 0;
}
.hero {
    background-color: rgba(0,0,0,0.65);
    color: #fff;
    height: 100vh;
    width : 100%;
    position: relative;
}

.hero:before {
    content: '';
    background: url('../assets/bkgsky.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero .main-text {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 1rem;
}

.hero .main-text .greeting{
    font-size: 3rem;
}

.hero .logos .scroller img{
    height: 70px;
    margin: 1rem;
}

.hero .logos .scroller{
    display: inline-block;
    animation: 10s slide infinite linear;
}

.hero .logos {
    white-space: nowrap;
    overflow: hidden;
    width: 50%;
}


@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}