
a{
    text-decoration: none;
    color: #fff;
}

.main-container{
    margin: 0.6rem;
    transition: 1s ease-in-out;
    border-radius: 15px;
    padding: 1rem;
    background: #1b1a1a;
    box-shadow: 0.5rem 0.5rem 0.5rem #000;
}

.main-container .title{
    font-size: 1.25rem;
}

.main-container:hover{
    transition: 1s ease-in-out;
    background: var(--primary-light);
}

.main-container > img{
    width: 80%;
    height: 80%;
    aspect-ratio: 16/15;
    object-fit: contain;

}
.main-container .descript{
    font-size: 1rem;
}